/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #1a1a1a;
  color: #e0e0e0;
}

.signup-btn {
  background: #7752a5;
  color: #fff;
}

/* Quill mstyling */
.quill {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Quill toolbar styling */
.ql-toolbar.ql-snow {
  border: none;
  border-bottom: 1px solid #dddddd;
  background: #fff;
  padding-top: 0.8em;
  padding-bottom: 1.2em;
}

.ql-container {
  margin: 0 5rem;
}

.ql-container.ql-snow {
  border: none;
  padding-top: 1em;
}

.ql-editor {
  background-color: white;
  height: 80vh;
  max-width: 700px;
  margin: auto;
  overflow-y: auto;
  box-shadow: 1px 1px 5px #5e5e5e0e;
}
